// 通用样式
@import '~less/var.less';
html,body,#app{
    height:100%;
    margin:0;
}
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size:14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color:@blueBlack;
}

.hover:hover{
    &:hover{
        color:@blue;
    }
}




