.wt-pop-up-warp{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:transparent;
    z-index:999;
    transition:background-color .3s;
    &.show{
        background-color:rgba(0,0,0,0.3)
    }
}
.wt-pop-up-content{
  position:absolute;
  z-index:9999;
  box-shadow: 0 3px 5px fade(#000,30%);
}

.wt-pop-up-arrow{
  position:fixed;
  z-index:1;
  @size:10px;
  width:@size;
  height:@size;
  &:before{
    content:'';
    display:block;
    position:absolute;
    top:50%;
    left:50%;
    box-sizing:border-box;
    width:@size;
    height:@size;
    background-color:white;
    transform-origin: center center;
    //这里计算了1.41(实际上是根号2)，是为了居中旋转后的伪元素
    transform:rotate(45deg) translate(-50%/1.41,-50%/1.41);
    border:1px solid transparent;
  }
  &.up{
    &:before{
      border-right-color:transparent!important;
      border-bottom-color:transparent!important;
    }
  }
  &.right{
    &:before{
      border-left-color:transparent!important;
      border-bottom-color:transparent!important;
    }
  }
  &.down{
    &:before{
      border-left-color:transparent!important;
      border-top-color:transparent!important;
    }
  }
  &.left{
    &:before{
      border-top-color:transparent!important;
      border-right-color:transparent!important;
    }
  }
}